.container {
  min-height: 100vh;
  padding: 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: clamp(2rem, 8vw, 4rem);
}

.description {
  line-height: 1.5;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.tag {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: var(--fz-s);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  margin-right: 1rem;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 4rem 0;
}

.card {
    margin: 0 1rem 2rem;
    padding: 00;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 0px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, border-color 0.15s ease;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 21.5%;
    box-shadow: 0px 29px 47.43px 3.57px rgb(0 0 0 / 10%);
    position: relative;
}
.card:hover,
.card:focus,
.card:active {
  color: var(--logo-color-900);
  /* border-color: var(--logo-color-900); */
}

.card h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.hero {
  text-align: left;
  max-width: 800px;
}

.links {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 1.125rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1.25rem;
  align-self: center;
  display: inline-flex;
  align-items: center;
  background: var(--logo-color-900);
  color: white;
  border-radius: 8px;
  transition: background .2s ease-in;
  font-weight: 500;
  border: none;
}

.btn:hover {
  background: var(--logo-color-1000);
}

.btn svg {
  margin-left: 0.5rem;
  font-size: var(--fz-l);
}

.btn:hover svg {
  transform: scale(1.1);
  transform-origin: center;
  -webkit-animation: heartbeat 1.5s infinite both;
  animation: heartbeat 1.5s infinite both;
}

.links .btn:first-child {
  margin-right: 1rem;
}

.links .btn:last-child {
  background: transparent;
  color: black;
  font-weight: 400;
}

.links .btn:last-child:hover {
  background: var(--logo-color-100);
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}

@media (max-width: 876px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .container {
    padding: 0 22px;
  }

  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1.0);
  } 
  20% {
    -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(.90);
  }
  100% {
    -webkit-transform: scale(1.0);
}
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  20% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(.90);
    transform: scale(.90);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.topBanner{
    background-color: #eee;
    color: white;
    width: 100%;
}
.clientsSec{
  padding: 50px 0;
  background-color: #f8f5f0;
}
.wdt{
    width: 100%;
}
.clientSMain{
  /* width: 40%;
  margin: 40px; */
}
.clientSMainImage{
    width: 60%;
    margin: 0 auto;
}
.hsImage{
  width: 100%;
}
.handpicked{
    display: flex;
    background-color: #000;
}
.h6{
  font-family: Montserrat,sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: #ff84eb;
    font-size: 11px !important;
    line-height: 1.63em !important;
    letter-spacing: .16em !important;
}
.h1 {
  font-family: "EB Garamond",serif;
  font-weight: 600;
  color: #fff;
  font-size: 50px !important;
  line-height: 1em;
}
.button{
  font-family: Montserrat,sans-serif;
  font-size: 11px !important;
  letter-spacing: .22em !important;
  line-height: 2em !important;
  font-weight: 500;
  text-transform: uppercase;
  outline: 0;
  border-radius: 0 !important;
  color: #FFf !important;
  background-color: #000 !important;
  border: 1px solid #fff !important;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  padding: 10px 39px 11px 40px !important;
  margin-top: 50px !important;
}
.p{
  line-height: 1.5;
  color: #fff;
  margin-bottom: 15px;;
}
.image {
  width: 100%;
  height: 220px;
  margin: 0;
  
}
.image:hover,
.image:focus,
.v:active  {
  background-color: black;
}

.placeholder {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--bg);
}
.cardhover{
    margin: 1rem 0; 
    padding: 10px 20px;
}
.bannerMiddle{
  background-image: url('/home-handpicked.jpeg');
  height: 100vh;
  position: fixed;
  background-color: white;
  
}
.fullPageImage{
  overflow: hidden;
  background-image: url('/men-banner.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-full-width{
  width: 100%;
}
.slide-full-width .slick-list{
    padding: 0 !important;
}
.productLink{
  color: #000;
}
.productLink:hover{
  color: #ff84eb;
}
.productTitle{
  /* font-family: "EB Garamond",serif; */
  font-weight: 500 !important;
  color: #000;
  font-size: 50px !important;
  line-height: 1em;
  text-align: center;
  margin: 0 auto 3rem !important;
}
.hoverIcon{
    position: absolute;
    right: 20px;
    bottom: 20px;

}
.hoverIcon span {
  padding: 0 4px;
}
.iconsecinner{
    padding: 50px 0;
}
.blackbg{
    background-color: #000;
    color: #fff;
}
h6.icontitle{
    font-size: 20px;
    font-weight: 500;

}
.supportIcon, .supportIcon g, .iconHomeClass, .iconHomeClass svg, .iconHomeClass g{
  color: #fff;
}


.products {
  background-color: #000;
}
.productTitle{
    color: #fff;
}
.card{
    background: black;
    padding: 0px;
    border-radius: 3px;
    /* box-shadow: 0 29px 35.43px 3.57px rgb(255 255 255 / 30%); */
    border: 1px solid white;
    color: white;
}
.cardhover{
  color: white;
}
.hoverIcon{
  color: gold;
}